@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&display=swap');
@import url('https://css.gg/info.css');
@import url('https://css.gg/close-o.css');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Fredoka', sans-serif;
}

h1{
    font-size: 2.2em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body{
    background-image: url(https://i.pinimg.com/originals/4f/00/4a/4f004abd611032c60797a3e2d14805ed.jpg);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 300px;
}
main{
    padding: 1.5em;
    background-color:white;
    width: 25vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 1px 1px 5em black;
}

#bInfo{
    background: none;
    height:60%;
    border: none;
    box-shadow: none;
    color: black;
}
.localinfo{
    display: flex;
    justify-content: flex-end;
}

.sobreimc{
    margin-right: 1em;
    position: absolute;
    font-size: 1em;
    height: 6em;
    width: 15em;
    background-color: white;
    padding: 0.5em;
    border: 3px solid black;
    border-radius: 15px 0 15px 15px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.527);
}


#dIMC{
    margin-top: 0.5em;
    height: 38%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    font-size: 1.2em;
}

#cIMC{
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
}
label{
    font-weight: 700;
}
input{
    font-size: 1.2em;
    height: 2em;
    border-radius: 5px;
    margin: 0.2em 0;
}
button{
    height: 2em;
    font-size: 1.2em;
    border-radius: 5px;
    background: royalblue;
    color: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.295);
}
button:hover{
    background-color: rgb(54, 89, 192); ;
}
button:active{
    background-color: rgb(27, 43, 92);
}
.mostrarIMC{
    margin-top: 0.8em;
    font-size: 2em;
    text-align: center;
    width: 100%;
    height: 3em;
}
@media (max-width:300px){
    li{
        font-size: 0.7em;
    }
}
@media (max-width:400px){
    *{
        font-size: 2.2vh;
    }
    body{
        display: block;
    }
    h1{
        font-size: 1.5em;
    }
    h2{
        font-size: 1.2em;
    }
    p{
        font-size: 1em;
    }
    main{
        margin: 10vh auto;
        width: 85vw;
        height: 80vh;
    }
}
@media (max-width:1000px){
    *{
        font-size: 2vh;
    }
    body{
        display: block;
    }
    h1{
        font-size: 1.5em;
    }
    h2{
        font-size: 1.2em;
    }
    p{
        font-size: 1em;
    }
    main{
        margin: 10vh auto;
        width: 85vw;
        height: 80vh;
    }

}
@media (min-height:900px) {
    li{
        font-size: 0.75em;
    }
}
@media (min-width:1300px) {
    li{
        font-size: 1em;
    }
}